*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    display: flex;
    align-items: center;
    
}

.btns{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    margin: 200px;
    

}

#notif{
    position: absolute;
    top: 30px;
    right: 30px;
}
.not{
    border-radius: 32px;
    width: 300px;
    height: 80px;
    text-align: center;
    color: white;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    

}

.btns button{
width: 144px;
height: 44px;
background: red;
color: white;
border: none;
border-radius: 10px;
font-weight: 550;
font-size: 20px;
}
